HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### Apache CXF generated stub code
src/generated
src/main/java/org
src/main/java/nl/surf/polynsi/soap/connection/**/*.java
!src/main/java/nl/surf/polynsi/soap/connection/**/*Impl.java
!src/main/java/nl/surf/polynsi/soap/connection/provider/PrettyLoggingFeature.java
src/main/java/nl/surf/polynsi/soap/framework/**/*.java
!src/main/java/nl/surf/polynsi/soap/framework/**/*Impl.java
src/main/java/nl/surf/polynsi/soap/services/**/*.java
!src/main/java/nl/surf/polynsi/soap/services/**/*Impl.java

### Maven release plugig
pom.xml.releaseBackup
release.properties
